

body#loginbody{
    background: url(pexels-cottonbro-8657290.jpg);
    background-size: cover;
}

.loginHeader{
    text-align: center;
    margin: 50px;

}

.loginHeader h1{
    margin: 10px;
    font-size: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f685a2;
}

.loginHeader p{
    margin: 10px;
    font-size: 44px;
    margin: 0px;
    display: inline-block;
    color: rgb(16, 0, 12);
    text-transform: uppercase;
    text-decoration-color: solid black 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:  rgba(255, 255, 255, 0.6);
}

.loginHeader p::after{
    content: '';
    display: block;
    height: 6px;
    background-color:rgb(242, 142, 217);
    margin: 0 auto;
}

.loginbody form{
    margin: 0 auto;
    width: 300px;
    background-color: rgb(0,0,0,0.6);
    padding: 50px;
    border: solid 6px #fff;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginInputs{
    margin-top: 27px;

}

.loginbody label{
    display: block;
    color: #fff;
}

.loginInputs input{
    height: 26px;
    width: 100%;
    border: 2px solid #d40339;
    font-size: 16px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.buttonlogin{
    margin-top: 36px;
    text-align: center;
  
}

.buttonlogin button{
    font-size:  21px;
    padding: 10px 22px;
    background-color:  #f685a2;
    cursor: pointer;

}

/* Popup Toast Message */
.popup {
    position: fixed;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #333;
      color: #fff;
      padding: 15px 20px;
      border-radius: 6px;
      box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3), 0px 2px 10px rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 1000;
      text-align: center;
    }

.popup.show {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.error {
    background: #e74c3c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.success {
    background: #2ecc71;
    display: flex;
    align-items: center;
    justify-content: center;
}
